* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background: linear-gradient(to right, #1e1e2f, #2c2c54);
    color: #fff;
}
header{
    display: flex;
    justify-content:center;
    align-items: center;
      left: 50%;
    transform: translateX(-50%);
    gap: 5rem ;
    backdrop-filter: blur(8px);
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    position: fixed;
    top: 1rem;
    color: white;
}
.logo {
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    margin-right: 60px;

}
.logo:hover{
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap: 2rem;
}
li a{
    position: relative;
    color: rgb(194, 194, 194);
    font-weight: 300;
}

li a::before {
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right,rgb(0,157,255), rgb(255,0,255));
}
li a:hover::before{
    width:100%
}

.visit-button{
    padding: 0.8rem 1.5rem;
    margin-left: 40px;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: linear-gradient(to right,rgb(0,157,255), rgb(255,0,255));
}
.visit-button:hover {
    background: linear-gradient(to right,rgb(255,0,255), rgb(0,157,255));
    transform: scale(1.03);
}
.btn-group{
    display: flex;
    gap: 1rem;
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
    margin-bottom: 2%;
    color: #fff;
}
.btn:hover {
    background-color: black;
    color: white;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(4,minmax(250px,1fr));
    gap: 20px;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid whitesmoke;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.30s ease-in-out;
    margin: 10% 3% ;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 5%;
}
.project-card:hover{
    background-color: black ;
    color: white;
    transform: translateY(-10px)scale(1.02);
}
.project-card img  {
    width: 100%;
    height: 180px;
    border-radius: 1rem;
    object-fit: cover;
    border-radius: 10px;
}
.project-card:hover .btn {
    border: 2px solid white;
    color: white;
}
.project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}
.project-card h3{
    font-size: 2rem;
    font-weight: 500;
    background: linear-gradient(to right,rgb(255,0,255), rgb(0,157,255));
    background-clip: text;
    color: transparent;
    font-size: 2rem;
}
.section-title{
    text-align: center;
    font-size: 6rem;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-top: 115px;
}
.section-title::after {
    content: "";
    width: 200px;
    height: 4px;
    background: linear-gradient(to right,rgb(0,157,255), rgb(255,0,255));
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}
.menu-icon{
    font-size: 1rem;
    display: none;
    margin-left: 3%;
    cursor: pointer;
}
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
    }
    .project-card img {
        width: 60%;
        max-width: 300px;
        margin-bottom: 20px;
    }
    .project-card {
        margin-bottom: 20px;
    }
       header {
        flex-direction: row;
        gap: 10px;
    }
    .section-title{
        margin-top: 30%;
    }
    .menu-icon {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-links {
        position: absolute;
        top: 70px;
        width: 30%;
        align-items: center;
        display: none;
        flex-direction: column;
        padding: 1rem;
        text-align: center;
        background: rgba(0,0,0,0.9);
        border-radius: 3rem;
    }

    .nav-links.active {
        display: flex; 
    }

    .nav-links li {
        padding: 15px 0;
    }
    .nav-links li a {
        color: #fff;
    }
}
